:root {
  --main-dark-cl: #434455;
  --main-white-cl: #ffffff;
  --dark-title-cl: #2e2f42;
  --white-bg-cl: #f4f4fd;
  --acent-cl: #4d5ae5;
  --link-cl: #9747ff;
  --btn-cl: #404bbf;
  --border-cl: #e7e9fc;
  --icon-border-cl: #8e8f99;
  --success-cl: #31d0aa;
  --modal-cl: #fcfcfc;
}

/**Common styles*/
body {
  font-family: Roboto, sans-serif;
  color: var(--main-dark-cl);
  background-color: var(--main-white-cl);
}

/**Reset*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  font-family: inherit;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
/**Base styles*/
.section {
}

/* Base style for mobile */

.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* Tablet screen */

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Desctop screen */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/**Header styles*/

.header {
  border-bottom: 1px solid var(--border-cl);
  background-color: var(--main-white-cl);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--dark-title-cl);
}
.nav-link {
  padding: 24px 0;
}

.logo {
  margin-right: auto;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--acent-cl);
}
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.header-logo {
}
.acent-dark {
  color: var(--dark-title-cl);
}
.acent-light {
  color: var(--white-bg-cl);
}
.header-list {
  display: flex;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}
.header-item {
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-title-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.active {
  color: var(--btn-cl);
}
.header-link:hover,
.header-link:focus {
  color: var(--btn-cl);
}
.header-link.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--btn-cl);
}
.adress {
  font-style: normal;
}
.adress-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (max-width: 767.98px) {
  .adress-list {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .adress-list {
    flex-direction: row;
    gap: 40px;
  }
}
.adress-item {
}
.adress-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-dark-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--btn-cl);
}

/**Hero styles*/

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--dark-title-cl);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mobile@2x.jpg);
  }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tablet@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-tablet@2x.jpg);
    }
  }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-desktop@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office-desktop@1x.jpg);
    }
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    margin: 0 auto;
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--main-white-cl);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--main-white-cl);
  background-color: var(--acent-cl);
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: 0;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--btn-cl);
}
/**Features styles*/

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.feature-title {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature-list {
}

@media only screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .feature-list {
    gap: 24px;
  }
}

.icon-conteiner {
  display: none;
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--white-bg-cl);
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px; */
}
@media only screen and (min-width: 1158px) {
  .icon-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--white-bg-cl);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

.icon {
}

.feature-item {
}
@media only screen and (max-width: 767.98px) {
  .feature-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .feature-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .feature-item {
    width: calc((100% - 72px) / 4);
  }
}

.feature-subtitle {
  margin-bottom: 8px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.07em;
  text-transform: capitalize;
  color: var(--dark-title-cl);
}
@media only screen and (min-width: 768px) {
  .feature-subtitle {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
  .text {
    font-weight: 400;
  }
}

/**Production styles*/

.production {
  padding-bottom: 120px;
  background-color: var(--main-white-cl);
}
@media only screen and (max-width: 1157.98px) {
  .production {
    display: none;
  }
}

.production-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-title-cl);
  margin-bottom: 72px;
}
.production-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.production-item {
  width: calc((100% - 48px) / 3);
}
.production-img {
}

/**Team styles*/

.team {
  background-color: var(--white-bg-cl);
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-title-cl);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-item {
  background-color: var(--main-white-cl);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-card {
}
.card-content {
  padding: 32px 0;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-title-cl);
  text-align: center;
  margin-bottom: 8px;
}
.team-desc {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/**Icon styles*/

.social-link {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-link-item {
}
.social-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--acent-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-icon:hover,
.social-link-icon:focus {
  background-color: var(--btn-cl);
}
.link-icon {
  fill: var(--white-bg-cl);
}

/**Footer styles*/

.footer {
  background-color: var(--dark-title-cl);
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .footer-container {
    width: 584px;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-container {
    align-items: baseline;
  }
}

.logo-container {
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  .logo-container {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .logo-container {
    margin-right: 120px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--white-bg-cl);
  max-width: 264px;
  margin-right: auto;
  margin-left: auto;
}

.social-media {
  margin-bottom: 72px;
  min-width: 208px;
}

@media only screen and (min-width: 1158px) {
  .social-media {
    margin-right: 80px;
    margin-bottom: 0;
  }
}

.container-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--main-white-cl);
  margin-bottom: 16px;
}
.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-link-item {
}
.footer-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--acent-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--success-cl);
}
.footer-icon {
  fill: var(--white-bg-cl);
}

/**Subscribe styles*/

.subscribe-container {
}

.form-desc {
  color: var(--main-white-cl);

  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    flex-wrap: nowrap;
  }
}

.subscribe-form-label {
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .subscribe-form-label {
    width: 100%;
  }
}

.subscribe-form-input {
  width: 100%;
  height: 40px;
  color: var(--main-white-cl);
  background-color: transparent;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
  padding: 8px 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  border-radius: 4px;
  border: 1px solid var(--main-white-cl);
}

@media only screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
  }
}

.subscribe-form-btn {
  min-width: 165px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 24px;

  color: var(--main-white-cl);
  font-family: inherit;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: none;
  border-radius: 4px;
  background-color: var(--acent-cl);
}
.subscribe-form-icon {
  fill: var(--main-white-cl);
  margin-left: 16px;
}

/**Portfolio*/

.main {
  background-color: var(--main-white-cl);
}
.main-title {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}
.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-item {
}

.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--acent-cl);
  background-color: var(--white-bg-cl);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--border-cl);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--main-white-cl);
  background-color: var(--btn-cl);
  border-color: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-img {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.img-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-title-cl);
  margin-bottom: 8px;
}
.img-title-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-dark-cl);
}
/**Overlay*/

.card-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--white-bg-cl);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  background-color: var(--acent-cl);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}

/** Customers*/

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  color: var(--dark-title-cl);

  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
  margin: 0 auto;
}
.customers-item {
}

@media (min-width: 768px) and (max-width: 1157.98px) {
  .customers-list {
    max-width: 552px;
  }
}

@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .customers-list {
    flex-wrap: nowrap;
  }
}

.customers-item {
  flex-basis: calc((100% - 16px) / 2);
  height: 88px;
}

@media only screen and (min-width: 768px) {
  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--icon-border-cl);
  border: 1px solid var(--icon-border-cl);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--btn-cl);
}
.customers-link:hover,
.customers-link:focus {
  color: var(--btn-cl);
}
/**Modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px 16px;
  width: 100%;
  min-height: 584px;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  background-color: var(--modal-cl);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 428px) {
  .modal {
    width: 392px;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--border-cl);
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btn-cl);
}
.modal-btn:hover,
.modal-btn:focus {
  border: none;
}
.modal-icon {
  fill: var(--dark-title-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: var(--main-white-cl);
}

/**Form styles*/

.modal-caption {
  display: flex;
  width: 360px;

  margin-bottom: 16px;

  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-title-cl);
  line-height: 24px;
  letter-spacing: 0.32px;
}
.modal-form {
  margin: 0 auto;
}
.modal-form-container {
  margin-bottom: 8px;
}
.textarea-container {
  margin-bottom: 16px;
}
.modal-form-field {
  display: block;
  margin-bottom: 4px;
  color: var(--icon-border-cl);

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.input-container {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  font-size: 18px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--acent-cl);
}
.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dark-title-cl);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--acent-cl);
}
.modal-form-comment {
  width: 100%;
  height: 120px;

  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.48px;
  color: rgba(46, 47, 66, 0.4);

  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comment:focus {
  border-color: var(--acent-cl);
}
.modal-form-comment::placeholder {
  color: var(--icon-border-cl);
  font-size: 12px;
  letter-spacing: 0.48px;
}

/**Checkbox*/

.checkbox-container {
  margin-bottom: 24px;
}
.modal-form-agreement {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;

  color: var(--icon-border-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal-form-custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked
  + .modal-form-agreement
  .modal-form-custom-checkbox {
  background-color: var(--btn-cl);
  border: none;
  fill: var(--white-bg-cl);
}

.modal-form-link {
  color: var(--acent-cl);
  text-decoration: underline;
}

.form-button {
}
.form-btn {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 169px;

  padding: 16px 32px;
  margin: 0 auto;
  gap: 10px;

  color: var(--main-white-cl);

  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  background-color: var(--acent-cl);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:focus {
  background-color: var(--btn-cl);
}

/* Mobile menu */

.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-icon {
  stroke: var(--dark-title-cl);
}

.menu-toggle-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--border-cl);
  padding: 0;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 0 40px 40px;
  background-color: var(--main-white-cl);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--dark-title-cl);
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-menu .link {
}
.mobile-menu-item {
}
.mobile-menu-link {
  color: var(--dark-title-cl);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.mobile-menu-link.active {
  color: var(--btn-cl);
}

.mobile-adress-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 48px;
}

.mobile-adress-item {
}
.mobile-phone-link {
  color: var(--acent-cl);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

@media only screen and (max-width: 427.98px) {
  .mobile-phone-link {
    font-size: 28px;
  }
}

.mobile-adress-link {
  color: var(--main-dark-cl);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.mobile-social-link {
  display: flex;
  gap: 56px;
}
.mobile-social-link-item {
  width: 40px;
  height: 40px;
}
.mobile-social-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--acent-cl);
}
.mobile-link-icon {
  fill: var(--white-bg-cl);
}
